body{
    margin: 0;
    background-color: beige;
}

.header{
text-align: center;
font-size: 10px;
}

.formulario{
    font-weight: bold;
    display: grid;
    gap: 5px;
    justify-items: center;
    text-align: center;

}